*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* utilities */

a{
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  cursor: pointer;
}

li{
  list-style: none;
}

button{
  padding: 1em 2.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

/* page styles */

body{
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}

/* nav-bar */

header{
  padding-top: 1em;
}

.nav-bar{
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo{
  width: 50%;
  height: auto;
}

.menu-open{
  display: none;
}

.menu-close{
  display: none;
}

nav ul{
  display: flex;
}

nav ul li{
  padding-left: 2em;
}

nav a{
  color: hsl(236, 13%, 42%);
}


/* main-section */

main img{
  width: 100%;
}

.feature-heading{
  font-size: 3rem;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

/* section styles */
.section{
  padding-bottom: .4em;
}

.section p{
  margin-bottom: 1.5em;
}


/* new section styles */
.new-section{
  background-color: #000;
  color: #fff;
  padding: 1em;
  margin: 3em 0;
}

.new-section h2{
  color: hsl(35, 77%, 62%);
}

.new-subsection{
  border-bottom: solid #777 1px;
  padding: 1em 0;
}

.new-subsection:nth-of-type(3){
  border-bottom: none;
}

.new-subsection h3{
  padding-bottom: .3em;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-section a{
  color: #fff;
  padding-bottom: .5em;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-subsection p{
  color: hsl(233, 8%, 79%);
}

.main-article-section{
  display: flex;
  flex-direction: column;
}

.article{
  display: flex;
  padding-bottom: 2em;
  justify-content: flex-start;
}

.article img{
  width: 30%;
}

.article-section{
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-section h2, p{
  color: hsl(233, 8%, 79%);
}

.article-section h2{
  font-size: 2rem;
}

.article-section h3{
  padding: .3em 0;
}

.attribution{
  font-size: .8rem;
}


/* mobile nav menu */

@media (max-width: 500px){
  header{
    position: relative;
  }
  
  /* hamburger menu */
  .menu-open{
    display: block;
    cursor: pointer;
    padding-top: .7em;
  }
  
  .isClosed{
    display: none;
  }
  
  nav{
    position: absolute;
    right: -100%;
    top: 2%;
    background-color: hsl(36, 100%, 99%);
    width: 65%;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    height: 100vh;
    transition: all .5s;
  }
  
  
  /* menu x-close */
  .menu-close{
    /* font-size: .5rem; */
    padding: 1.8rem 1.2rem 0 0;
    align-self: flex-end;
    cursor: pointer;
    /* display: none; */
  }
  
  .nav-bar ul{
    display: flex;
    flex-direction: column;
  }
  
  
  
  /* nav menu styles for when hamburger menu is clicked */
  .isOpen{
    right: -5.5%;
  }
  
  nav ul{
    padding: 5em 0 0 1em;
  }
  
  nav ul li{
    padding: 1.2em 1em;
    align-self: flex-start;
  }
  
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
  
}



@media (min-width: 501px){
  .container{
    max-width: 75%;
    margin: 0 auto;
  }

  header{
    padding-top: 1.5em;
  }

  .menu-open{
    display: none;
  }

  /* .main-section{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    gap: 1em;
  }

  .flex-section{
    display: flex;
    gap: 1em;
  }

  .section, .flex-section h1{
    min-width: 50%
  } */


  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }



  main img{
    grid-column: span 2;
    width: 100%;
    aspect-ratio: 1 / .4;
    object-fit: cover;
    object-position: top;
  }

  .feature-heading{
    padding: 0 1em 0 0;
    line-height: 1.2;
  }

  .new-section{
    grid-column: 3;
    grid-row: 1 / 3;
    margin-top: 0;
    margin-bottom: 0;
  }

  .new-section h2{
    font-size: 2.6rem;
    line-height: 1.6;
  }

  .new-subsection{
    margin-bottom: 1em;
  }

  .new-subsection a{
    font-size: 1.35rem;
  }

  .new-subsection p{
    font-size: 1rem;
    line-height: 1.6;
  }

}